.sidebar {
    width: 280px;
    flex-shrink: 0;
  }
  
  .card {
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #264653;
  }
  